*{
  padding: 0;
  margin: 0;
}
main{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}
.render{
  position: absolute;
}
.content{
  z-index: 1;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  color: #181818;
  pointer-events: none;
}
.content h3 {
  font-family: "Zilla Slab", serif;
  font-size: 2rem;
  font-weight: 700;
  color: #FF5900;
}
.content button {
  margin-top: 1rem;
  padding: 15px 20px;
  border: none;
  border-radius: 25px;
  background: #FF5900;
  color: #f4f4f4;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 5rem;
  pointer-events: all;
}